<header>
  <img src="assets/gs.png" class="logo" alt="Girl Scout logo">
  <h1>Girl Scout Troop 1770</h1>
</header>
<body>
  <main>

    <div id="donate">
      <p>
        <a class="button" href="https://gsmidtn.org/donate/" target="_blank">Donate</a>
      </p>
    </div>

    <div class="about">
      <img src="assets/CampSycamoreHills.jpg" class="girls" alt="Girl Scouts">
      <p>Our troop is located in the Leipers Fork area and the schools are Hillsboro Elementary and Middle School,
        Independence High School, and Franklin High School. We also welcome homeschoolers who are interested.
      </p>
    </div>

    <div class="join">
      <p>
        <a class="button" href="https://gsmidtn.org/join-us/" target="_blank">Join our troop</a>
      </p>
    </div>


  </main>
</body>
<footer>
  <p class="footer">Please contact me via <a class="button3" href="mailto: twarre30@gmail.com">email</a> with any
    questions.</p>
  <small>&copy;2022 Tiffany Warren - All rights reserved</small>
</footer>
