@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@500&family=Grape+Nuts&family=Indie+Flower&display=swap');

img{
  max-width: 15%;
  padding: 5rem;
}

.join{
  width: 60%;
  position: relative;
  left: 550px;
  bottom: 350px;
  font-size: 3.5rem;
  text-align: center;
  border-radius: 10px;
  border: 2px solid hsl(123, 100%, 18%);
  cursor: pointer;
}

#donate {
  width: 15%;
  height: 100%;
  padding: 2%;
  position: relative;
  left: 50px;
  bottom: 400px;
  font-size: 4.5rem;
  text-align: center;
  cursor: pointer;
}

.button1{
  height: 80px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  background:-webkit-linear-gradient(0deg,transparent 50%, hsl(328, 98%, 59%) 50%);
  background-size: 400px 80px;
  border: 4px solid hsl(328, 98%, 59%);
  transition: 0.8s;
  position: relative;
  left: 350px;
}

.button2{
  height: 80px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background:-webkit-linear-gradient(0deg,transparent 50%, hsl(328, 98%, 59%) 50%);
  background-size: 400px 80px;
  border: 4px solid hsl(328, 98%, 59%);
  transition: 0.8s;
  position: relative;
  left: 70px;
}

.button3{
  color: hsl(328, 98%, 59%);
  cursor: pointer;
}

a{
  color:hsl(123, 100%, 18%);
  border-radius: 6px;
  text-decoration: none;
  text-transform: capitalize;
}

a:hover{
  background-position: 200px 0;
}

.about{
  width: 65%;
  height: 100%;
  padding: 5%;
  position: relative;
  left: 450px;
  bottom: 850px;
  font-size: 3.5rem;
  text-align: center;
}

