,<body>

<h1>Welcome to Girl Scout Troop 1770</h1>

<div class="logo">
  <img src="assets/GS.png" alt="Girl Scout logo">
</div>

<div class="join">
  <p>To join our troop Please register
    <a href="https://gsmidtn.org/join-us/">here!</a>
  </p>
</div>

<div id="donate">
  <p>$Donation$
    <a class="donation" href="https://gsmidtn.org/donate/">here!</a>
  </p>
</div>

<div class="about">
  <p>Our troop is located in the Liepers Fork area and the schools are Hillsboro Elementary and Middle School,
    Independence High School, and Franklin High School. We also welcome homeschoolers who are interested.
  </p>
</div>

</body>
