<body>
  <main>
    <div id="donate">
      <p>
        <a class="button" href="https://gsmidtn.org/donate/" target="_blank">Donate</a>
      </p>
    </div>

    <div class="about">
      <img src="assets/CampSycamoreHills.jpg" class="girls" alt="Girl Scouts">
      <p>Our troop is located in the Leipers Fork area and the schools are Hillsboro Elementary and Middle School,
        Independence High School, and Franklin High School. We also welcome homeschoolers who are interested.
      </p>
    </div>

    <div class="join">
      <p>
        <a class="button" href="https://gsmidtn.org/join-us/" target="_blank">Join our troop</a>
      </p>
    </div>
  </main>
</body>