nav{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Open Sans', sans-serif;

}

.button {
    box-shadow: inset 0 1px 0 0 	hsl(105, 100%, 97%);
    border: 1px solid hsl(105, 100%, 97%);
    display: inline-block;
    cursor: pointer;
    color: hsl(123, 100%, 18%);
    font-size: 20px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration-color: hsl(328, 98%, 75%);
    text-shadow: 0 1px 0 	hsl(105, 100%, 87%);
    outline: 0;
    margin: 12px;
}
.activebutton {
    display: inline-block;
    cursor: pointer;
    color: 	hsl(123, 100%, 18%);
    font-size: 20px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration-color: hsl(328, 98%, 75%);
    text-shadow: 0 1px 0 hsl(105, 100%, 87%);
    outline: 0;
    margin: 12px;
    border-radius: 25px;
}

@media screen and (max-width: 800px) {
  nav{
    margin-left: 0px;
  }
  .button {
    font-size: 20px;
    padding: 6px 12px;
  }
}

