<header>
  <img src="assets/gs.png" class="logo" alt="Girl Scout logo">
  <h1>Girl Scout Troop 1770</h1>
</header>
<main>
  <div id="divWeatherMain">
    <div *ngIf="WeatherData.isDay" class="weatherWidgetRow">
      <i class="fas fa-3x fa-sun sun"></i>
    </div>
    <div *ngIf="!WeatherData.isDay" class="weatherWidgetRow">
      <i class="fas fa-3x fa-moon moon"></i>
    </div>
    <div class="weatherWidgetRow cloudDiv">
      <i class="fas fa-cloud fa-3x cloud"></i>
    </div>
    <div class="weatherWidgetRow" style="font-size: 32px;margin-top: 5px;">{{WeatherData.temp}}°</div>
    <div class="weatherWidgetRow" style="font-size: 12px;">{{WeatherData.temp_min}}° / {{WeatherData.temp_max}}°</div>
    <div class="weatherWidgetRow" style="font-size: 12px;">Feels Like: {{WeatherData.temp_feels_like}}°</div>
    <div class="weatherWidgetRow" style="font-size: 25px;margin-top: 10px;">{{WeatherData.name}}</div>
    <div class="weatherWidgetRow" style="font-size: 12px;">Humidity: {{WeatherData.main.humidity}}%</div>
  </div>


  <ul>
    <h3>Upcoming Events</h3>
    <li *ngFor="let event of events">
      <app-event-listing [date]="event.date" [plan]="event.plan"></app-event-listing>
    </li>
  </ul>

</main>
<footer>
  <p class="footer">Please contact me via <a class="button3" href="mailto: twarre30@gmail.com">email</a> with any
    questions.</p>
  <small>&copy;2022 Tiffany Warren - All rights reserved</small>
</footer>
