h2{
  font-family: 'Indie Flower', cursive;
  font-size: 2.2rem;
  text-align: center;
}

P{
  font-size: 1.5rem;
  text-align: center;
}

@media screen and (max-width: 800px) {
  h2{
    font-size: 1rem;
  }
  P{
    font-size: 1rem;
  }
}
