td {
  display: table-cell;
  padding: 20px;
  letter-spacing: 1px;
  text-align: center;
  word-spacing: 400px;
}

.parent{
  grid-column: 1 / span 1;
}

.daughter{
  grid-column: 2 / span 1;
}

.address{
  grid-column: 3 / span 1;
}

.email{
  grid-column: 4 / span 1;
}

.phone{
  grid-column: 5 / span 1;
}

