div {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  padding: 20px;
  letter-spacing: 1px;
  text-align: center;
}

.id{
  grid-column: 1 / span 1;
}

.parent{
  grid-column: 2 / span 1;
}

.daughter{
  grid-column: 3 / span 1;
}

.address{
  grid-column: 4 / span 1;
}

.email{
  grid-column: 5 / span 1;
}

.phone{
  grid-column: 6 / span 1;
}
