<header>
  <img src="assets/gs.png" class="logo" alt="Girl Scout logo">
  <h1>Girl Scout Troop 1770</h1>
</header>

<app-navigation></app-navigation>
<router-outlet></router-outlet>


<ul>
  <li>
    <app-events [date]="'June 24, 2022'" [plan]="'Camping at Sycamore Hills 6pm'"></app-events>
  </li>
  <li>
    <app-events [date]="'June 30, 2022'" [plan]="'Troop Meeting at the Rec Center 7pm'" ></app-events>
  </li>
  <li>
    <app-events [date]="'July 02, 2022'" [plan]="'First Aid Training 8am'"></app-events>
  </li>
</ul>

<footer>
  <p class="footer">Please contact me via <a class="button3" href="mailto: twarre30@gmail.com">email</a> with any
    questions.</p>
  <small>&copy;2022 Tiffany Warren - All rights reserved</small>
</footer>
