nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.button {
    box-shadow: inset 0 1px 0 0 	hsl(105, 100%, 97%);
    background: 	hsl(105, 100%, 87%) linear-gradient(to bottom, 	hsl(105, 100%, 87%) 5%, hsl(105, 100%, 97%) 100%);
    border-radius: 6px;
    border: 1px solid hsl(105, 100%, 97%);
    display: inline-block;
    cursor: pointer;
    color: hsl(123, 100%, 18%);
    font-size: 25px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0 1px 0 	hsl(105, 100%, 87%);
    outline: 0;
}
.activebutton {
    box-shadow: inset 0 1px 0 0 hsl(328, 98%, 75%);
    background: hsl(328, 98%, 59%) linear-gradient(to bottom, hsl(328, 98%, 59%) 5%, hsl(328, 98%, 75%) 100%);
    border-radius: 6px;
    border: 1px solid hsl(328, 98%, 59%);
    display: inline-block;
    cursor: pointer;
    color: 	hsl(0, 0%, 100%);
    font-size: 25px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0 1px 0 hsl(328, 98%, 75%);
    outline: 0;
}
