@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@500&family=Grape+Nuts&family=Indie+Flower&display=swap');


body{
    color: 	hsl(123, 100%, 18%);
}

h1{
  font-family: 'Indie Flower', cursive;
  font-size: 6rem;
  text-align: center;
  margin-top: 0;
}
