@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@500&family=Grape+Nuts&family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

body{
    color: 	hsl(123, 100%, 18%);
    font-family: 'Open Sans', sans-serif;
    background-color: hsl(53, 81%, 96%);
}
header{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}
h1{
  font-family: 'Indie Flower', cursive;
  font-size: 70px;
}
img{
  width: 10%;
  margin: 25px;
  border-radius: 80px;
}

label{
  display: block;
  width: 100%;
  margin-bottom: 8px;
}

input {
  display: block;
  width: 100%;
  margin-bottom: 16px;
  padding: 12px;
  border-radius: 4px;
  border: 1px solid hsl(0, 0%, 80%);
  box-sizing: border-box;
}

.button3{
  color: hsl(328, 98%, 75%);
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  h1{
    font-size: 40px;
  }
  img{
    width: 50%;
    margin: 3%;
  }
}


