<header>
  <img src="assets/gs.png" class="logo" alt="Girl Scout logo">
  <h1>Girl Scout Troop 1770</h1>
</header>
<app-navigation></app-navigation>
<main>
  <app-form-links></app-form-links>
  <h3>Troop Directory</h3>
  <div class="header">
        <p class="id">Id</p>
        <p class="parent">Parent Name</p>
        <p class="daughter">Daughter Name</p>
        <p class="address">Address</p>
        <p class="email">Email</p>
        <p class="phone">Phone Number</p>
    </div>
    <div>
      <app-member-listing *ngFor="let member of members"
        [id]="member.id"
        [parentName]="member.parentName"
        [daughterName]="member.daughterName"
        [address]="member.address"
        [email]="member.email"
        [phoneNumber]="member.phoneNumber"
        ></app-member-listing>
    </div>
</main>

<router-outlet></router-outlet>

<!--Back to top button-->
<a href="directory" class="top">Back to Top &#8593;</a>

<footer>
  <p class="footer">Please contact me via <a class="button3" href="mailto: twarre30@gmail.com">email</a> with any
    questions.</p>
  <small>&copy;2022 Tiffany Warren - All rights reserved</small>
</footer>


