<main>
  <h3>Troop Directory</h3>
  <table>
    <thead>
      <tr>
        <th>Parent Name</th>
        <th>Daughter Name</th>
        <th>Address</th>
        <th>Email</th>
        <th>Phone Number</th>
      </tr>
    </thead>
    <tbody>
      <tr class="grid-container" *ngFor="let member of members"> 
      <app-member-listing
        [parentName]="member.parentName" 
        [daughterName]="member.daughterName"
        [address]="member.address" 
        [email]="member.email" 
        [phoneNumber]="member.phoneNumber"
        ></app-member-listing>
      </tr>
    </tbody>
  </table>
</main>

<app-member-form></app-member-form>